In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('carprices.csv')

In [4]:
df.head()

  Car Model  Mileage  Sell Price($)  Age(yrs)
0    BMW X5    69000          18000         6
1    BMW X5    35000          34000         3
2    BMW X5    57000          26100         5
3    BMW X5    22500          40000         2
4    BMW X5    46000          31500         4

In [7]:
dummies=pd.get_dummies(df[['Car Model']])

In [9]:
dummies.head()

   Car Model_Audi A5  Car Model_BMW X5  Car Model_Mercedez Benz C class
0                  0                 1                                0
1                  0                 1                                0
2                  0                 1                                0
3                  0                 1                                0
4                  0                 1                                0

In [10]:
new_df=pd.concat([df,dummies],axis='columns')

In [12]:
new_df.head()

,Car Model,Mileage,Sell Price($),Age(yrs),Car Model_Audi A5,Car Model_BMW X5,Car Model_Mercedez Benz C class
0,BMW X5,69000,18000,6,0,1,0
1,BMW X5,35000,34000,3,0,1,0
2,BMW X5,57000,26100,5,0,1,0
3,BMW X5,22500,40000,2,0,1,0
4,BMW X5,46000,31500,4,0,1,0

In [19]:
final=new_df.drop(['Car Model','Car Model_Mercedez Benz C class','Sell Price($)'],axis='columns')

In [20]:
final.head()

   Mileage  Age(yrs)  Car Model_Audi A5  Car Model_BMW X5
0    69000         6                  0                 1
1    35000         3                  0                 1
2    57000         5                  0                 1
3    22500         2                  0                 1
4    46000         4                  0                 1

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
reg=LinearRegression()

In [25]:
reg.fit(final,df[['Sell Price($)']])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [27]:
reg.score(final,df[['Sell Price($)']])

0.9417050937281082

In [28]:
reg.predict([[4500,4,0,0]])

array([[51981.26203334]])

In [30]:
import pickle

In [33]:
with open('model','wb') as f:
    pickle.dump(reg,f)

In [34]:
with open('model','rb') as f:
    mp=pickle.load(f)

In [35]:
mp.predict([[4500,4,0,0]])

array([[51981.26203334]])

In [36]:
mp.coef_

array([[-3.70122094e-01, -1.33245363e+03, -2.45354074e+03,
        -6.73820733e+03]])

In [38]:
mp.intercept_

array([58976.62596854])

In [39]:
from sklearn.externals import joblib

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [40]:
joblib.dump(reg,'model1')

['model1']

In [41]:
mj=joblib.load('model1')

In [42]:
mj.predict([[4500,4,0,0]])

array([[51981.26203334]])